<div id="details" data-role="page" class="details-page" data-theme="b">
  <div data-role="header" data-position="fixed"> 
    <%= link_to 'MobileMap', root_path, 'data-icon' => 'back', 'data-ajax' => false %>
    <h1>New event</h1>
  </div> 
  <div data-role="content" id="map_content" data-theme="a">
    <div id="map_canvas" style="height : 50%"> 
      <script type="text/javascript">
        // Initialize the map when the jQuery Mobile pageshow event is triggered 
        $('.details-page').on("pageshow", function() {
          if (map == null || user_coordinates == null) {
            // geolocation_success_add_markers will put the markers on the page
	    //navigator.geolocation.getCurrentPosition(geolocation_success_add_markers, geolocation_error, geolocation_options);
	   // If this is the entry point, find the user's location but don't get the markers
	   navigator.geolocation.getCurrentPosition(geolocation_success_newmap, geolocation_error, geolocation_options);
	
          }else {
	   // use the previous map center to set up a new map
           center = map.getCenter();
          setupNewMap(center.latitude, center.longitude, 13,true);
          }
        }); 
      </script>
    </div>
   
  <div data-role="content" id="map_form" data-theme="b" >
    <!-- populate form with the map center.  update the numbers on center_changed event -->
    <!-- <%= render 'form' %> -->
    <%= form_for @event do |f| %>
      <!-- <%= f.label :latitude %><br> -->
       <%= f.hidden_field :latitude %>
      <!-- <%= f.label :longitude %><br> -->
       <%= f.hidden_field :longitude  %>
       <%= f.label :text %><br>
       <%= f.text_field :text %>
       <%= f.submit %>
    <% end %>
  </div>
</div>
</div>
