 <script type="text/javascript">
   window.location.replace(window.location.origin);
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Latitude:</b>
  <%= @event.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @event.longitude %>
</p>

<p>
  <b>Text:</b>
  <%= @event.text %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
